.pix_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pix_img{
    width: 50%;
}

@media (max-width: 768px) {
    .pix_box{
        margin-top: 20px;
        flex-direction: column;
    }
}